.contentG{
height: max-content;
margin-top: 28%;
}

.contentHeader {
  color: #555555;
  font-size: 14px;
  font-weight: normal;
  line-height: 12px;
  display: flex;
  justify-content: center;
}

.contentHeader p{
    font-weight: bold;
    margin: 0 6px;
}

.contentBody {
  display: flex;
  flex-direction: row;
}

.contentBodyMand,
.contentBodyVis {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #333;
  font-size: 1.125em;
  font-stretch: 100%;
  font-style: normal;
  font-weight: lighter;
  height: 40px;
  line-height: 1em;
}

.contentBodyPlac {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: space-evenly;
  width: 57px;
}

.contentBodyPlac h2 {
  font-weight: bold;
}

.contentBodyPlac p {
  font-weight: lighter;
  color: #70757a;
}

.box{
    height: 109px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
}

.link{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    color: rgb(6, 170, 72);
}