.containerMain {
  margin-top: 8rem;
}

.containerMainRow {
  border-top: 3px solid #fad82d;
  padding: 5px 0px;
  margin-top: 0.5rem;
}

.linkCustom {
  text-decoration: none;
  color: #f2f2f2;
}

.cardCustom {
  width: 100%;
  height: 95%;
  background-color: #1f221f;
}

.cardCustomTitle {
  font-size: 0.9rem;
  width: 100%;
}
